@model List<HalloDoc_Admin_.Entities.ViewModel.DashboardAdminData>
@{
    ViewData["Title"] = "Admin Page";
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
}
<div class="d-flex flex-column px-4 py-5">
    <form class="row w-100 " id="admin_cards" method="post" asp-controller="Home" asp-action="showStatusData" data-ajax="true" data-ajax-method="post"
          data-ajax-update="#result" enctype="multipart/form-data">
        <input type="hidden" value="1" id="statusInput" name="status" />
        <button class="border-0 col-lg-2 col-md-4 col-6 text-start border-0">
            <div class="p-3 crd activeCard0" style="background-color: #213f9921; border:1px solid #203f9a;color:#203f9a" onclick="statusList(0,event)">
                    <h5 class="card-title">
                    <img class="bi bi-check2-circle" style="width:20px;height:20px" src="~/images/icons/new.svg" /> NEW
                    </h5>
                    <h2 class="card-text">@ViewBag.list[0]</h2>
                </div>
            <div class="element activeElement mx-5" style="background-color: #213f99;border-radius:0px;"></div>
        </button>

        <button class="border-0 col-lg-2 col-md-4 col-6  text-start">
            <div class="p-3 crd" style="background-color: #18b6d121; border:1px solid #18b6d1;color:#18b6d1"
                 onclick="statusList(1,event)">
                    <h5 class="card-title">
                        <img class="bi bi-check2-circle" style="width:20px;height:20px" src="~/images/icons/pending.svg"/> PENDING
                    </h5>
                <h2 class="card-text">@ViewBag.list[1]</h2>
                </div>
            <div class="element mx-5" style="background-color: #18b6d1;border-radius:0px;"></div>
        </button>

        <button class="border-0 col-lg-2 col-md-4 col-6 text-start">
            <div class="p-3 crd" style="background-color: #228c2021; border:1px solid #228c20;color:#228c20"
                 onclick="statusList(2,event)">
                    <h5 class="card-title">
                    <img class="bi bi-check2-circle" style="width:20px;height:20px" src="~/images/icons/active.svg" /> ACTIVE
                    </h5>
                <h2 class="card-text">@ViewBag.list[2]</h2>
                </div>
            <div class="element mx-5" style="background-color: #447d39;border-radius:0px;"></div>
        </button>

        <button class="border-0 col-lg-2 col-md-4 col-6  text-start">
            <div class="p-3 crd" style="background-color: #da138421; border:1px solid #da1384;color:#da1384"
                 onclick="statusList(3,event)">
                    <h5 class="card-title">
                    <img class="bi bi-check2-circle" style="width:20px;height:20px" src="~/images/icons/conclude.svg" /> CONCLUDE
                    </h5>
                <h2 class="card-text">@ViewBag.list[3]</h2>
                </div>
            <div class="element mx-5" style="background-color: #d34390;border-radius:0px;"></div>
        </button>

        <button class="border-0 col-lg-2 col-md-4 col-6 text-start">
            <div class="p-3 crd" style="background-color: #3c9edb21; border:1px solid #3c9edb;color:#3c9edb"
                 onclick="statusList(4,event)">
                    <h5 class="card-title">
                    <img class="bi bi-check2-circle" style="width:20px;height:20px" src="~/images/icons/toclose.svg" /> TO CLOSE
                    </h5>
                <h2 class="card-text">@ViewBag.list[4]</h2>
                </div>
            <div class="element mx-5" style="background-color: #3c9edb;border-radius:0px;"></div>
        </button>

            <button class="border-0 col-lg-2 col-md-4 col-6 text-start" >
                <div class="p-3 crd" style="background-color: #ce71fd21; border:1px solid #ce71fd;color:#ce71fd"
                 onclick="statusList(5,event)">
                    <h5 class="card-title">
                    <img class="bi bi-check2-circle" style="width:20px;height:20px;" src="~/images/icons/unpaid.svg" /> UNPAID
                    </h5>
                <h2 class="card-text">@ViewBag.list[5]</h2>
                </div>
            <div class="element mx-5" style="background-color: #ce71fd; border-radius:0px;"></div>
            </button>
        </form>

        <div class="d-flex flex-row justify-content-between align-items-center py-3">
            <div class="d-flex flex-row align-items-end">
                <h2>Patients</h2>
            <h4 style="color:#172C93">(<span id="StatusName"></span>)</h4>
            </div>
            <div class="d-flex flex-row">

            <button type="button" class="btn_admin py-2 px-2 m-1 d-block border-0" data-bs-toggle="modal" data-bs-target="#sendLink_box"><img src="~/images/send.svg" /> <span class="responsivehide">Send Link</span></button>
            <div class="modal fade text-center " id="sendLink_box">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content border-0">
                        <div class="modal-header">
                            <h6 class="modal-title">Send mail to patient for submitting request</h6>
                            <button class="btn btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                           
                            <form method="post" asp-controller="Home" asp-action="sendLink">
                                <div class="row mb-3">
                                    <div class="group mb-1 col-12">
                                        <input type="text" class="form-control input-field pt-3" placeholder="" name="Firstname" required>
                                        <label for="" class="placeholder">First Name</label>
                                        <span @*asp-validation-for=""*@ class="text-danger"></span>
                                    </div>
                                    <div class="group mb-1 col-12">
                                        <input type="text" class="form-control input-field pt-3" placeholder="" @*asp-for=""*@ name="Lastname">
                                        <label for="" class="placeholder">Your Last Name</label>
                                        <span @*asp-validation-for=""*@ class="text-danger"></span>
                                    </div>
                                    <div class="group mb-1 col-12">
                                        <input type="tel" class="form-control input-field" id="phone" name="phone" placeholder="Phone" @*asp-for=""*@>
                                        <span @*asp-validation-for=""*@ class="text-danger"></span>
                                    </div>
                                    <div class="group mb-1 col-12">
                                        <input type="email" class="form-control input-field pt-3" required name="Email" placeholder="">
                                        <label for="" class="placeholder">Your Email</label>
                                        <span @*asp-validation-for=""*@ class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <button type="Submit" class="btn btn_admin selected" id="" onclick="sendLink()">Send</button>
                                    <button type="button" class="btn btn_dash" data-bs-dismiss="modal" >Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>

            <a class="btn_admin py-2 px-2 m-1 d-block" asp-controller="" asp-action=""><img src="/images/icons/request-quote-svgrepo-com.svg" style="width:20px;" class="border-0" /> <span class="responsivehide">Create Requests</span></a>
            <a class="btn_admin py-2 px-2 m-1 d-block" asp-controller="Home" asp-action="ExportDataByStatus"><img src="~/images/icons/right-arrow-outline-svgrepo-com.svg" style="width:20px;" />  <span class="responsivehide">Export</span></a>
            <a class="btn_admin py-2 px-2 m-1 d-block" asp-controller="Home" asp-action="ExportAllData"><img src="/images/icons/export.svg" style="width:20px;" />  <span class="responsivehide">Exort All</span></a>
            <a class="btn_admin py-2 px-2 m-1 d-block"><img src="/images/icons/person-svgrepo-com.svg" style="width:20px;" />  <span class="responsivehide">Request DIY Support</span></a>
            </div>
        </div>
        <div class="bg-white" style="border-radius: 10px;">

            <div class="d-flex flex-row justify-content-between row align-items-center py-5 px-3">
                <div class="row col-lg-6 col-xl-4">
                    <div class="col-sm-6" >
                        <input type="search" placeholder="Search Patients" class="form-control px-4">
                        <i class="bi bi-search"></i>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control px-4">
                            <option value="" selected disabled>All Regions</option>
                            <option value="">Jamnagar</option>
                            <option value="">Rajkot</option>
                            <option value="">Bhuj</option>
                        </select>
                        <i class="bi bi-search icon_input"></i>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between col-xl-5">
                    <button type="button" class="btn-light btn">All</button>
                    <div class="p-1">
                        <div style="width:10px;height: 10px; border-radius: 50%; background-color: #61ad63;"
                            class="d-inline-block"></div> Patient
                    </div>
                    <div class="p-1">
                        <div style="width:10px;height: 10px; border-radius: 50%; background-color: #e89026;"
                            class="d-inline-block"></div> Family/Friend
                    </div>
                    <div class="p-1">
                        <div style="width:10px;height: 10px; border-radius: 50%; background-color: #db657b;"
                            class="d-inline-block"></div> Business
                    </div>
                    <div class="p-1">
                        <div style="width:10px;height: 10px; border-radius: 50%; background-color: #047aba;"
                            class="d-inline-block"></div> Concierge
                    </div>
                </div>
            </div>
           
            <div id="result" class="table-responsive px-2"></div>
            
           
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".activeCard0").click();
    });
    var navLinks = document.getElementsByClassName("nav-link");
    for (var i = 0; i < navLinks.length; i++) {
        navLinks[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            if (current.length > 0) {
                current[0].className = current[0].className.replace(" active","");
            }
            this.className += " active";
        });
    }
    var statusInput = document.getElementById("statusInput");
    function statusList(index,event) {
        var allCards = document.getElementsByClassName("crd");
        var allElements = document.getElementsByClassName("element");
        var statusTag = document.getElementById("StatusName");
        switch (index) {
            case 0:
                statusTag.innerText = "New";
                break;
            case 1:
                statusTag.innerText = "Pending";
                break;
            case 2:
                statusTag.innerText = "Active";
                break;
            case 3:
                statusTag.innerText = "Coclude";
                break;
            case 4:
                statusTag.innerText = "Close";
                break;
            case 5:
                statusTag.innerText = "Unpaid";
                break;
        }
        for (var i = 0; i < 6; i++) {
            statusInput.value=index+1;
            if (i == index) {
                allElements[i].classList.add("activeElement");
                allCards[i].classList.add("activeCard"+index);
            }
            else {
                allElements[i].classList.remove("activeElement");
                allCards[i].classList.remove("activeCard"+i);
            }

        }
    }

        var modelData = @Html.Raw(Json.Serialize(Model));
    console.log(modelData);
    function openAction(index) {
        console.log();

        window.location.href = '/Home/' + document.getElementById("Action_" + modelData[index].id).value + '?requestId=' + modelData[index].id;

    }

    //const phoneInputField = document.querySelector("#phone");
    //const phoneInput = window.intlTelInput(phoneInputField, {
    //    utilsScript:
    //        "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    //});
</script>