@model List<HalloDoc_Admin_.Entities.ViewModel.DashboardAdminData>
@{

}
<table class="table  bg-light dashboardTable" id="adminTable">
    <thead>
    <th>Name</th>
    <th class="text-center">Date of Birth</th>
    <th>Region</th>
    <th>Physician Name</th>
    <th>Date Of Service</th>
    <th>Address</th>
    <th>Notes</th>
    <th>Chat with</th>
    <th>Actions</th>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var (res,i) in Model.Select((res,i)=>(res,i)))
            {
                <tr class="text-white requestColor_@res.Requesttype" >

                    <td>@res.PatientName</td>
                    <td>
                        <a href="mailto:@res.Email"><i class="bi bi-envelope px-1 btn_dashtable"></i></a>
                        @res.DOB
                    </td>
                    <td>@res.Region</td>
                    <td>@res.PhysicianName</td>
                    <td>@res.DataofService</td>
                    <td>@res.Address</td>
                    <td>@res.Notes</td>
                    <td>
                        <div>
                            <button class="btn_dashtable">Patient</button>
                            <button class="btn_dashtable">Provider</button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button class=" btn_dashtable" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAction_@res.Id" aria-expanded="false" aria-controls="collapseWidthExample">
                                Action
                            </button>
                            <div class="position-absolute" style="">
                                <div class="collapse collapse-horizontal actioncollapse" id="collapseAction_@res.Id">
                                    <div class="bg-white text-center d-flex flex-column" style="border-radius:5px;">
                                        <div><a asp-controller="Action" asp-action="ViewCase" asp-route-requestId="@res.Id">View&nbspCase</a></div>
                                        <div><a asp-controller="Action" asp-action="ViewUploads" asp-route-requestId="@res.Id">View&nbspUploads</a></div>
                                        <div><a asp-controller="Action" asp-action="ViewNotes" asp-route-requestId="@res.Id">View&nbspNotes</a></div>
                                        <div><a asp-controller="Action" asp-action="Orders" asp-route-requestId="@res.Id">Orders</a></div>
                                        <button data-bs-target="#cancelCase_box" data-bs-toggle="modal" class="border-0 bg-transparent">Close&nbspCase</button>
                                        <button data-bs-target="#cancelCase_box" data-bs-toggle="modal" class="border-0 bg-transparent">Doctor&nbspNote</button>
                                        <button data-bs-target="#cancelCase_box" data-bs-toggle="modal" class="border-0 bg-transparent">Clear&nbspCase</button>
                                        <button data-bs-target="#blockCase_box" data-bs-toggle="modal" class="border-0 bg-transparent">Encounter</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="accordion" id="accordionExample" style="color:black">
    @if (Model != null)
    {
        @foreach (var (item, i) in Model.Select((res, i) => (res, i)))
        {
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">

                    <button class="accordion-button d-flex flex-column" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne_@item.Id" aria-expanded="true" aria-controls="collapseOne">
                        <div class="d-flex flex-row justify-content-between w-100 mb-2">
                            <div>
                                @item.PatientName
                            </div>
                            <div>
                                <div style="width:10px;height: 10px; border-radius: 50%; "
                                     class="d-inline-block requestColor_@item.Requesttype"></div> @item.userType
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-between w-100 mb-2">
                            <div>@item.Address</div>
                            <a class="btn_dash p-1 text-center" style="border-radius:20px;font-size:15px">Map location</a>
                        </div>
                    </button>
                </h2>
                <div id="collapseOne_@item.Id" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body d-flex flex-column justify-content-between position-relative">
                        <div class="mb-1"><i class="bi bi-calendar" style="font-size:13px;color:#00b3fa"> </i> Date of birth : <strong>@item.DOB</strong></div>
                        <div class="mb-2"><i class="bi bi-envelope" style="font-size:13px;color:#00b3fa"> </i>  Email : <strong>@item.Email</strong></div>
                        <div class="mb-2"><i class="bi bi-person-bounding-box" style="font-size:13px;color:#00b3fa"> </i>  Transfer Notes : <strong></strong></div>
                        <div class="mb-2"><i class="bi bi-person-bounding-box" style="font-size:13px;color:#00b3fa"> </i>  Date of service : <strong>@item.DataofService</strong></div>
                        <div class="mb-2"><i class="bi bi-person-bounding-box" style="font-size:13px;color:#00b3fa"> </i>  Physician : <strong>@item.PhysicianName</strong></div>
                        <div class="mb-2"><i class="bi bi-person-bounding-box" style="font-size:13px;color:#00b3fa"> </i>  Region : <strong>@item.Region</strong></div>
                        <div class="d-flex flex-wrap">
                            <a class="btn btn_accordR btn_accord m-1" asp-controller="Action" asp-action="ViewCase" asp-route-requestId="@item.Id">Close Case</a>
                            <a class="btn btn_accordG btn_accord m-1" asp-controller="Action" asp-action="ViewNotes" asp-route-requestId="@item.Id">View Notes</a>
                            <button class="btn m-1 btn_accord" style="background-color:#145545" data-bs-target="#assignCase_box" data-bs-toggle="modal">Doctors Note</button>
                            <a class="btn btn_accordG btn_accord m-1" asp-controller="Action" asp-action="ViewCase" asp-route-requestId="@item.Id">View Uploads</a>
                            <button class="btn btn_accordG btn_accord m-1" data-bs-target="#blockCase_box" data-bs-toggle="modal">Encounter</button>
                            <button class="btn btn_accordY btn_accord m-1" data-bs-target="#blockCase_box" data-bs-toggle="modal">Clear Case</button>
                            <a href="mailto:@item.Email" class="btn btn_accordG btn_accord m-1">Email</a>
                        </div>
                        <a class="btn position-absolute btn_accordCase p-0 px-1" asp-controller="Action" asp-action="ViewCase" asp-route-requestId="@item.Id">View Case</a>
                        <div class="d-flex justify-content-end">
                            Chat With:<button class="btn_dash mx-2">Patient</button>
                            <button class="btn_dash mx-2">Provider</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
<script>

    var modelData = @Html.Raw(Json.Serialize(Model));
    console.log(modelData);
    function openAction(index) {
        window.location.href = '/Action/' + document.getElementById("Action_" + modelData[index].id).value + '?requestId=' + modelData[index].id;
    }
</script>

