@model List<HalloDoc_Admin_.Entities.ViewModel.DashboardAdminData>
@{

}
<table class="table  bg-light" id="adminTable">
    <thead>
    <th>Name</th>
    <th>Physician Name</th>
    <th>Date Of Service</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Chat with</th>
    <th>Actions</th>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var res in Model)
            {
                <tr class="text-white requestColor_@res.RequestType">

                    <td>@res.PatientName</td>
                    <td>
                        <a href="mailto:@res.Email"><i class="bi bi-envelope px-1 btn_dashtable"></i></a>
                        @res.DOB
                    </td>
                    <td>@res.RequestorName</td>
                    <td>@res.PhysicianName</td>
                    <td>@res.DataofService</td>
                    <td class="d-flex flex-column">
                        <span><a href="tel:@res.PatientPhone"><i class="bi bi-telephone px-1 btn_dashtable"> @res.PatientPhone</i></a></span>
                        <span>(Patient)</span>
                        @if (@res.RequestorPhone != null)
                        {
                            <span><a href="tel:@res.RequestorPhone"><i class="bi bi-telephone px-1 btn_dashtable"> @res.RequestorPhone</i></a></span>
                            <span>()</span>
                        }
                    </td>
                    <td>@res.Address</td>
                    <td>@res.Notes</td>
                    <td>
                        <div>
                            <button class="btn_dashtable">Patient</button>
                            <button class="btn_dashtable">Provider</button>
                        </div>
                    </td>
                    <td>
                        <select class="form-control btn_dashtable w-50 text-center" value="Action" style="padding:0px;">
                            <option selected disabled class="text-center">Action</option>
                            <option><a>View Case</a></option>
                            <option><a>View Uploads</a></option>
                            <option><a>View Notes</a></option>
                        </select>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

