@model HalloDoc_Admin_.Entities.ViewModel.DocumentsData;
@{
}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <h2>Documents</h2>
        <a class="btn_dash p-1 px-2 btn">Back</a>
    </div>
    <div class="container bg-white ">
        <div class="m-2 pt-2">
            <div class=" mb-3">
                <h6>Patient Name</h6>
                <h2 class="d-inline-block" style="color:#0dcaf0;">@Model.PatientName</h2>
                <h3 class="d-inline">(@Model.confirmation_number)</h3>
            </div>
            <p class="mb-3">Check here to review and cold fles that you or the Clienti Member has attached to the Request.</p>
            <form class="d-flex mb-5" method="post" asp-controller="Home" asp-action="UploadDoc"
                  enctype="multipart/form-data">
                <input class="form-control" name="formFile" type="file">
                <button type="submit" class="btn btn-info" style="color: white;">Upload</button>
            </form>
            <div class="d-flex justify-content-between">
                <h4>Documents</h4>
                <div>
                    <button class="btn_dash btn mx-1" onclick="downloadAll()">Download All</button>
                    <button class="btn_dash btn mx-1" >Delete All</button>
                    <button class="btn_dash btn mx-1">Send Mail</button>
                </div>
            </div>
        </div>
        <table class="table table-responsive">
            <thead class="bg-light ">
            <th><input type="checkbox" class="form-control-lg" onclick="selectAll()" id="selectAllRd"></th>
            <th>Documents</th>
            <th>Upload Date</th>
            <th>Action</th>
            </thead>
            @foreach (var file in Model.list)
            {
                <tr>
                    <td><input type="checkbox" class="form-control-lg rd" onclick="selectBox()"></td>
                    <td>@file.FileName.Substring(9)</td>
                    <td>@file.CreatedDate</td>
                    <td>
                        <a  class=" btn_dash"><i class="bi bi-trash m-1"></i></a>
                        <a href="@file.FileName" download class="download-link btn_dash"><i class="bi bi-cloud m-1"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<script>

var selectAllRd = document.getElementById("selectAllRd");
    var rds = document.getElementsByClassName("rd");
    function selectAll() {
    if (selectAllRd.checked) {
        for (var i = 0; i < rds.length; i++) {
            rds[i].checked = true;
        }
    }else{
            for (var i = 0; i < rds.length; i++) {
                rds[i].checked = false;
            }
    }
    }
    function selectBox(){

        var i=0;
        for ( i = 0; i < rds.length; i++) {
            if(!rds[i].checked)
            break;
        }
        if(i==rds.length)
        selectAllRd.checked=true;
        else if (selectAllRd.checked)
        selectAllRd.checked=false;
    }
    var dowLinks = document.getElementsByClassName("download-link");
    function downloadAll() {
        console.log("bvhn");
        for (var j = 0; j < rds.length; j++) {
            if (rds[j].checked) {
                dowLinks[j].click();
            }
        }
    }
</script>